*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color: aquamarine;
    border: 2px solid;
  
}

section {
    height: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}

ul {
    list-style: none;
    
}

li {
    float: right;
    margin: 30px;
    font-size: 25px;
   
}

.WelcomeUser, .MessageToMe, .MessageFromMe {
    text-align: center;
    margin-top: 5%;
}
